<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pondok Biru Restaurant</title>
  <meta name="theme-color" content="rgb(57, 57, 254)"/>

  <!-- ICONS BY ICONSCOUT -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <!-- Web Manifest -->
  <link rel="manifest" href="./app.webmanifest">
</head>

<body class="main">
  <!-- Skip to content -->
  <a href="#main" class="skip-link" tabindex="1" id="skip">Skip to content</a>

  <!-- Mobile nav  -->
  <nav class="side-nav">
    <ul class="side-content">
      <li class="side-list">
        <a href="/" tabindex="0" aria-label="Home">Home</a>
      </li>
      <li class="side-list">
        <a href="#/restaurant-list" tabindex="0" aria-label="restaurant list">Restaurant List</a>
      </li>
      <li class="side-list">
        <a href="#/favorites" tabindex="0" aria-label="Favorites">Favorites</a>
      </li>
      <li class="side-list">
        <a href="https://www.linkedin.com/in/agung-cantona/" tabindex="0" aria-label="About Us" target=”_blank”>About Us</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="header-container" id="home">
    <nav class="nav-bar">
      <a href="/" class="nav-title" tabindex="1">Pondok Biru</a>
      <i class="uil uil-bars nav-icon" tabindex="1" aria-label="display menu"></i>
      <!-- Desktop nav -->
      <ul class="nav-content">
        <li class="nav-list">
          <a href="/" aria-label="Home">Home</a>
        </li>
        <li class="nav-list">
          <a href="#/restaurant-list" aria-label="restaurant list">Restaurant List</a>
        </li>
        <li class="nav-list">
          <a href="#/favorites" aria-label="Favorites">Favorites</a>
        </li>
        <li class="nav-list">
          <a href="https://www.linkedin.com/in/agung-cantona/" aria-label="About Us" target=”_blank”>About Us</a>
        </li>
      </ul>
    </nav>
  </header>

  <main id="main">
  </main>
  
  <!-- Footer -->
  <footer class="footer-container" tabindex="0" >
      <p>Copyright © 2023 - Pondok Biru Restaurant</p>
  </footer>
</body>
</html>
