<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pondok Biru Restaurant</title>

  <!-- ICONS BY ICONSCOUT -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body class="main">
  <!-- Skip to content -->
  <a href="#main" class="skip-link" tabindex="1" id="skip">Skip to content</a>

  <!-- Mobile nav  -->
  <nav class="side-nav">
    <ul class="side-content">
      <li class="side-list">
        <a href="http://localhost:9000/" tabindex="0" aria-label="Home">Home</a>
      </li>
      <li class="side-list">
        <a href="#" tabindex="0" aria-label="Favorites">Favorites</a>
      </li>
      <li class="side-list">
        <a href="https://www.linkedin.com/in/agung-cantona/" tabindex="0" aria-label="About Us" target=”_blank”>About Us</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="header-container" id="home">
    <nav class="nav-bar">
      <a href="#" class="nav-title" tabindex="1">Pondok Biru</a>
      <i class="uil uil-bars nav-icon" tabindex="1" aria-label="display menu"></i>
      <!-- Desktop nav -->
      <ul class="nav-content">
        <li class="nav-list">
          <a href="http://localhost:9000/" aria-label="Home">Home</a>
        </li>
        <li class="nav-list">
          <a href="#" aria-label="Favorites">Favorites</a>
        </li>
        <li class="nav-list">
          <a href="https://www.linkedin.com/in/agung-cantona/" aria-label="About Us" target=”_blank”>About Us</a>
        </li>
      </ul>
    </nav>
    <!-- Hero Image -->
    <div class="hero-image" aria-label="hero-image" tabindex="0">
      <h1 class="hero-text">Pondok Biru</h1>
    </div>
  </header>

  <main id="main">

    <!-- About Pondok Biru -->
    <section class="about-container">
      <h1 class="main-title" aria-label="About Pondok Biru" tabindex="0">About Pondok Biru</h1>
      <div class="about-container">
        <div class="about-content">
          <img src="./images/heros/hero-image_1.jpg" alt="about image" class="about-img" tabindex="0">
          <div class="about-description" tabindex="0" aria-label="Pondok Biru Description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab in magni error fugit veniam, saepe maxime? Veniam, ducimus. Adipisci, doloribus? Accusamus, dolores nulla? Non ad iusto ducimus ratione! Dignissimos earum id, tempore aliquam ut excepturi quaerat neque et a culpa voluptas exercitationem illo aut fugit ipsa labore modi deleniti illum.</p> 
            <ul>
              <li class="about-list" tabindex="0">
                <i class="uil uil uil-linkedin about-icon"></i>
                <p> Creator : <a href="https://www.linkedin.com/in/agung-cantona/" class="about-link" target=”_blank”> Agung Cantona S. </a> </p> 
              </li>
              <li class="about-list" tabindex="0">
                <i class="uil uil-envelope about-icon"></i>
                <p> Email : pondokbiru@domain.com </p> 
              </li>
              <li class="about-list" tabindex="0">
                <i class="uil uil-phone about-icon"></i>
                <p> Phone Number : 08123456789 </p> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Daftar Restoran -->
    <section class="list-container">
      <h1 aria-label="Restaurant List" class="main-title" tabindex="0">Restaurant List</h1>
      <div class="restaurant-list">
      </div>
    </section>

  </main>

  <!-- Footer -->
  <footer class="footer-container" tabindex="0" >
      <p>Copyright © 2023 - Pondok Biru Restaurant</p>
  </footer>
</body>
</html>
