@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  min-width: 44px;
  min-height: 44px;
}

ul, li{
  list-style-type: none;
}

/* skip to content */

.skip-link{
  position: absolute;
  margin: 8px;
  top: -100px;
  left: 0;
  color: white;
  padding: 24px 32px;
  background-color: #1C82AD;
  z-index: 2;
}

.skip-link:focus{
  top: 0;
}

/* header css */

.header-container{
  width: 100%;
}

.side-nav{
  height: 100%;
  width: 300px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  right: -300px;
  top: 0;
  margin: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 99;
}

.side-nav.open{
  transition: transform 0.3s ease-in-out;
  transform: translate( -300px, 0 );
}

.side-content{
  margin: 0;
  padding: 0;
}

.side-content:nth-child(1){
  margin-top: 24px;
}

.side-content li:nth-child(2){
  border-top: 1px solid rgb(95, 95, 95, 0.5);
  border-bottom: 1px solid rgb(95, 95, 95, 0.5);
}

.side-content li:nth-child(3){
  border-bottom: 1px solid rgb(95, 95, 95, 0.5);
}

.side-list{
  text-align: left;
  margin-left: 24px;
  padding: 16px 0;
}

.nav-bar{
  max-height: 96px;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #13005A;
  position: fixed;
  top: 0;
  z-index: 1;
}  

.nav-title{
  max-height: 96px;
  color: white;
  font-size: 24px;
  padding: 24px;
  margin: 0;
}  

.nav-button{
  background-color: #13005A;
  border: none;
}

.nav-icon{
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: right;
  padding-right: 24px;
}  

.nav-content{
  max-height: 96px;
  max-width: 100%;
  padding: 16px;
  margin: 0 8px;
  display: none;
  justify-content: right;
  align-items: center;
}

.nav-list{
  margin: 0 2px;
  padding: 4px;
}

.nav-list a{
  color: white;
  font-size: 14px;
}

.nav-list a:hover{
  color: #1C82AD;
}

.hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/images/heros/hero-image_4.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 92px;
}

.hero-text{
  margin: 0;
  min-height: 400px;
  font-size: 36px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title{
  text-align: center;
  font-size: 32px;
}

.about-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container h1{
  margin-bottom: 8px;
}

.about-content{
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-img{
  width: 100%;
}

.about-description{
  margin: 16px 0;
  text-align: center;
}

.about-description ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.about-list:nth-child(2){
  border-top: 1px solid rgb(95, 95, 95, 0.5);
  border-bottom: 1px solid rgb(95, 95, 95, 0.5);
}

.about-icon{
  font-size: 36px;
  color: #1C82AD;
}

.about-link{
  margin-left: 6px;
  justify-content: center;
  text-decoration: underline;
}

.about-link:hover{
  color: #1C82AD;
}

.template{
  margin-top: 124px;
}

.list-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgb(95, 95, 95, 0.5);
}

.restaurant-list{
  margin: 0;
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr;
}

.restaurant-item{
  max-width: 100%;
  margin: 16px 8px;
  box-shadow: 0px 0px 8px 10px rgba(0,0,0,0.09);
  -webkit-box-shadow: 0px 0px 8px 10px rgba(0,0,0,0.09);
  -moz-box-shadow: 0px 0px 8px 10px rgba(0,0,0,0.09);
}

.restaurant-item img{
  width: 100%;
}

.restaurant-text{
  padding: 12px;
}

.restaurant-name{
  margin: 0;
  font-size: 20px;
}

.restaurant-city{
  margin: 0;
  color: #AEBDCA;
  font-size: 12px;
}

.restaurant-rate{
  margin: 0;
  color: #ffd000;
  font-size: 12px;
}

.restaurant-description{
  font-size: 12px;
}

.footer-container{
  width: 100%;
  max-height: 200px;
  background-color: #13005A;
}

.footer-container p{
  text-align: center;
  color: white;
  padding: 16px;
  margin: 0;
  font-size: 14px;
}

.detail-link{
  font-size: 16px;
  text-decoration: underline;
  color: rgb(46, 46, 255);
}

.see-all-link{
  font-size: 24px;
  text-decoration: underline;
  color: rgb(46, 46, 255);
  padding: 0 16px 16px 16px;
  margin: 0 8px 8px 8px;
  display: flex;
  justify-content: center;
}

.link-icon{
  font-size: 18px;
}

.see-all-icon{
  font-size: 24px;
}

.detail{
  width: 100%;
}

.detail-title{
  font-size: 36px;
  text-align: center;
}

.detail-container{
  margin: 8px;
  padding: 8px;
  display: grid;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}

.detail-description{
  padding: 16px 8px 8px 8px;
}

.detail-img{
  width: 100%;
}

.detail-alamat{
  margin: 0;
  color: #AEBDCA;
  font-size: 20px;
}

.detail-city{
  margin-top: 4px;
  margin-bottom: 16px;
  color: #AEBDCA;
  font-size: 16px;
}

.link-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail-rate{
  margin: 0;
  color: #ffd000;
  font-size: 16px;
}

.category-links{
  display: flex;
  justify-content: end;
  gap: 12px;
}

.category-link{
  font-size: 16px;
  text-decoration: underline;
  color: rgb(46, 46, 255);
}

.description-main{
  text-align: justify;
  font-size: 14px;
}

.menu{
  margin-top: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menu-title{
  text-align: center;
  padding: 8px;
  margin: 0;
}

.detail-sub{
  font-size: 18px;
  text-align: center;
  padding: 4px;
  margin: 0;
}

.menu-content{
  font-size: 14px;
}

.review{
  padding: 16px 0;
}

.review-container{
  width: 100%;
  background-color: #AEBDCA;
  padding: 20px 8px;
}

.review-container:nth-child(odd){
  background-color: #d7dde3;
}

.review-container:nth-child(odd) .reviewer-date{
  color: white;
}

.review-container:nth-child(even){
  background-color: white;
}

.reviewer-name{
  margin: 0;
  font-weight: bold;  
}

.reviewer-description{
  margin: 4px 0;
  font-size: 14px;
  text-align: justify;
}

.reviewer-date{
  margin: 4px 0;
  font-size: 14px;
  color: #AEBDCA;
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.favorites{
  min-height: 400px;
}